.footer {
  position: fixed;
  align-items: center;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  align-content: center;
  width: fit-content;
  padding: 0.5rem 0;
  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 1000;

}

.container {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.icon-button {
  width: 44px;                    /* bottone più piccolo */
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease;
  text-decoration: none;
}

.icon-button:hover {
  transform: scale(1.15) rotate(2deg);
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3);
}
